html, body {
    font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    color: #333;
    min-width: 999px;
}

a {
    color: #2242DD;
    text-decoration: none;
}

/******************************************/
#header {
    height: 160px;
    /* background-color: activeborder; */
}

#left {
    width: 300px;
    min-height: 600px;
    /* background-color: gainsboro; */
}

#content {
    min-height: 600px;
    /*background-color: gainsboro;*/
}

#footer {
    height: 200px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #f4f8fb;
    border-bottom: 2px solid #d4eafb;
}

#sub_footer {
    text-align: right;
    padding: 15px;
    font-size: 12px;
}

/******************************************/
#logo {
    background: url("img/logo.png") no-repeat transparent;
    min-height: 180px;
    padding-left: 190px;
    padding-top: 15px;
    width: 300px;
}

#logo a {
    font-size: 30px;
}

.site_desc {
    font-size: 10px;
}

#card {
    background: url("img/card.png") no-repeat transparent;
    padding-left: 33px;
    min-height: 80px;
    position: absolute;
    top: 0px;
    left: 555px;
    margin-top: 25px;
    width: 200px;
}

#card a {
    font-size: 25px;
}

#card span {
    font-size: 12px;
}

#header_menu {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 11px;
}

.horlist li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
}

#top_banner {
    position: absolute;
    top: 60px;
    right: 10px;
}

/******************************************/
#main_menu_head {
    background-color: #b9d7ef;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
    font: bold;
    text-align: center;
    border-bottom: gainsboro 1px solid;
    cursor: pointer;
    height: 21px;
}

.bottom_radius {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main_menu {
    background-color: #b9d7ef;
    margin-top: 0px;
    list-style-position: outside;
    /*height: 500px;*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 999;
}

.main_menu_item {
    list-style-type: none;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    cursor: pointer;
}

.main_menu_item:hover {
    background-color: #eaf2f8;
}

#sm_popup {
    position: absolute;
    z-index: 1000;
    left: 310px;
    top: 202px;
    padding: 5px;
    width: 300px;
    /*height: 490px;*/
    background-color: #eaf2f8;
    display: none;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

/******************************************/
#search {
    background-color: #b9d7ef;
}

#content_menu {
    margin: 0px;
    padding: 0px;
    width: 250px;
    position: absolute;
    right: 0px;
}

#slider {
    width: 900px;
    padding: 10px;
    position: relative;
}

img {
    display: block;
}

#gallery, #thumbs {
    float: left;
}

#gallery {
    width: 800px;
    height: 300px;
    overflow: hidden;
}

#gallery img {
    position: absolute;
}

#thumbs {
    width: 100px;
    height: 300px;
    overflow: hidden;
}

#next {
    display: block;
    width: 47px;
    height: 43px;
    background: url(../img/slider/arrow.png);
    position: relative;
    top: 257px;
    left: 855px;
}

#next:hover {
    background: url(../img/slider/arrowmo.png);
}

.clear {
    clear: both;
}

#products {
    padding-top: 15px;
    padding-left: 10px;
}

.button {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 4px 10px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #3BA4C7;
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -ms-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5', endColorstr='#1982A5', GradientType=0);
    background-image: linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:hover {
    padding: 4px 10px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #69b1c9;
    background-image: -moz-linear-gradient(top, #69b1c9 0%, #3d88a1 100%);
    background-image: -webkit-linear-gradient(top, #69b1c9 0%, #3d88a1 100%);
    background-image: -o-linear-gradient(top, #69b1c9 0%, #3d88a1 100%);
    background-image: -ms-linear-gradient(top, #69b1c9 0%, #3d88a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d88a1', endColorstr='#3d88a1', GradientType=0);
    background-image: linear-gradient(top, #69b1c9 0%, #3d88a1 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:active {
    padding: 4px 10px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #348099;
    background-image: -moz-linear-gradient(top, #348099 0%, #0a536b 100%);
    background-image: -webkit-linear-gradient(top, #348099 0%, #0a536b 100%);
    background-image: -o-linear-gradient(top, #348099 0%, #0a536b 100%);
    background-image: -ms-linear-gradient(top, #348099 0%, #0a536b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a536b', endColorstr='#0a536b', GradientType=0);
    background-image: linear-gradient(top, #348099 0%, #0a536b 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.products_line {
    text-align: center;
}

.products_line img {
    margin: 0 auto;
}

.products_line td {
    padding: 12px 5px;
    padding-bottom: 40px;
}

.products_line td:hover {
    border: 1px solid gainsboro;
    padding: 11px 4px;
}

.prod_name {
    margin-top: 5px;
    font-size: 14px;
}

.prod_prise {
    font-size: 13px;
    margin-bottom: 5px;
}

.product_showcase {
    display: inline-block;
    text-align: center;
    padding: 22px 15px;
    margin-bottom: 30px;
}

.product_showcase:hover {
    display: inline-block;
    text-align: center;
    border: 1px solid gainsboro;
    padding: 21px 14px;
}

.product_showcase img {
    border: 1px solid gainsboro;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/******************************************/
#useful_links {
    margin: 0 auto;
    font-size: 13px;
}

#useful_links td {
    vertical-align: top;
    padding-left: 35px;
    cursor: pointer;
}

#useful_links td div {
    margin-top: 8px;
}

.u_links_head {
    font-size: 15px;
    margin-left: -10px;
    margin-bottom: 5px;
}

/******************************************/
#breadcrump, #sub_category_links {
    color: #2242DD;
    margin: 10px;
    font-size: 14px;
}

#sub_category_links {
    margin-top: 25px;
}

#total_products {
    font-size: 14px;
}

#paginator {
    margin-top: 20px;
    font-size: 20px;
}

#paginator a, b {
    font-size: 16px;
}

#sorting {
    margin: 10px;
    margin-top: 20px;
    font-size: 13px;
}

#sorting td {
    padding-right: 10px;
}

#sorting td span {
    border-bottom: 1px gray dashed;
}

/******************************************/
#product_content {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

#thumbs_image img {
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
}

#view_image {
    display: inline-block;
    cursor: pointer;
}

#thumbs_image img, #view_image img {
    border: 1px solid white;
}

#thumbs_image img:hover, #view_image img:hover {
    border: 1px solid gainsboro;
}

#product_view {
    width: 100%;
    margin-bottom: 10px;
}

#product_view td {
    vertical-align: top;
}

#block_light {
    position: fixed;
    background-color: black;
    opacity: 0.3;
    z-index: 1111;
    width: 100%;
    height: 100%;
    margin: -15px;
    padding: 15px;
    display: none;
    top: 0;
    left: 0;
}

#dialog {
    z-index: 2222;
    position: absolute;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    top: 240px;
    left: 380px;
}

.idItems {
    font-size: 12px;
    margin-top: -15px;
    color: gray;
}

.product_detail {
    font-size: 13px;
    line-height: 20px;
}

.product_detail b {
    font-size: 13px;
}

.bay {
    width: 200px;
    margin-top: 50px;
}

.price {
    font-size: 20px;
    color: black;
}

.prod_button, .prod_button:hover, .prod_button:active {
    padding: 10px;
    padding-left: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    background-image: url("img/card-big.png");
    background-repeat: no-repeat;
    background-position: 10px, 20px;
}

.add_info {
    font-size: 14px;
}

.separator {
    width: 100%;
    border-bottom: 1px solid gainsboro;
    margin-top: 10px;
}

#comments {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.comment {
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px gainsboro dotted;
}

.datePublished {
    margin-top: -20px;
    font-size: 12px;
    color: gray;
}

.author {
    margin-bottom: 10px;
    font-size: 13px;
}

#addComment b {
    font-size: 13px;
}

#addComment input {
    margin-bottom: 5px;
}

/******************************************/
#static_content {
    min-height: 600px;
}

#card_types span {
    margin: 0 10px;
    font-size: 13px;
}

#card_card {
    background-color: #E0EDF5;
    padding: 10px;
    margin: 8px;
}

#card_table {
    width: 100%;
    background-color: white;
    margin-top: 10px;
}

#card_table th {
    font-size: 11px;
}

#card_table td {
    font-size: 13px;
    padding: 12px;
}

.card_product_name {
    font-size: 15px;
}

.card_product_added {
    font-size: 10px;
}

.card_score, .card_score b {
    font-size: 13px;
}

.card_score div {
    margin-left: 30px;
    padding-top: 5px;
}

/******************************************/
.order {
    padding: 10px;
    background-color: #D9EED7;
    margin-top: 20px;
}

.order_name {
    font-size: 14px;
}

.order_name span {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
}

.order_detail {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.order_detail_sum {
    font-size: 12px;
}

.order_detail_sum b {
    font-size: 12px;
}

/******************************************/
#pers_content {
    width: 100%;
}

.pers_links {
    width: 300px;
    vertical-align: top;
    background-color: #d4eafb;
    line-height: 25px;
    padding: 10px;
}

.pers_content {
    vertical-align: top;
}

.pers_photo {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-size: 11px;
}

.pers_photo img {
    width: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pers_data {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    font-size: 13px;
}

.pers_data b {
    font-size: 13px;
}

.pers_data_head {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 15px;
}

/******************************************/
#registration_tbl {
    width: 100%;
    font-size: 12px;
}

#registration_tbl input[type=text], input[type=password] {
    width: 250px;
}

#registration_tbl tr td {
    min-width: 100px;
}

.error {
    color: red;
}

#bay_notification {
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border: 5px solid coral;
}

#bay_notification_small {
    text-align: center;
    border: 5px solid coral;
    padding: 4px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sm_popup_link {
    padding: 3px;
}

.delete_from_card {
    cursor: pointer;
    font-size: 11px;
    margin: 10px;
}

